#root {
  margin: 0 auto;
  text-align: center;
}

.typing-animation {
  border-right: 2px solid;
  animation: typing 2s steps(20) forwards, blink .7s infinite;
}

@keyframes typing {
  0% { width: 0% }
  12% { width: 13% }
  50% { width: 13% }
  100% { width: 100% }
}

@keyframes blink {
  from { border-right-color: transparent }
  to { border-right-color: white }
}
